<!DOCTYPE html>
<html>

  <head>
    <title>Quizz</title>

    <meta charset="utf-8">

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="assets/app.css"/>
  </head>

  <body ng-app="app" ng-controller="quizzController as qc">

    <div class="container-fluid">

      <div class="row">

        <div id="left-col" class="col-xs-3"/>
        </div> <!-- left-col -->

        <div id="right-col" class="col-xs-9">

          <div id="main-content">
            <div class="panel-body">
              <h3>Question:</h3>
              {{qc.question}}
            </div>
            <div class="panel-body" ng-show="showAnswer">
              <h3>Answer:</h3>
              {{qc.answer}}
            </div>
            <button type="button" class="btn btn-primary" data-toggle="button" ng-show="!showAnswer" ng-click="showAnswer=!showAnswer">
              Show answer
            </button>
            <button type="button" class="btn btn-primary" data-toggle="button" ng-show="showAnswer" ng-click="showAnswer=!showAnswer">
              Hide answer
            </button>

            <button type="button" class="btn btn-secondary" ng-click="qc.nextQuestion()">
              Next
            </button>
          </div>

          <div class="footer">
              <span>
                About
              </span>
              <span>
                GitHub
              </span>
              <span>
                <a href="http://www.freepik.com/free-photos-vectors/background">Background vector designed by Freepik</a>
              </span>
          </div>
        </div> <!-- right-col -->

      </div>

    </div>

    <!-- AngularJS stuff -->
    <script src="./bower_components/angular/angular.js"></script>

    <script src="./src/app.js"></script>
    <script src="./src/quizz/quizz.js"></script>
    <script src="./src/quizz/quizzController.js"></script>
    <script src="./src/quizz/quizzService.js"></script>

  </body>

</html>
