#left-col {
  height: 100vh;
  background-image: url("left-col-bg.jpg");
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #73C09E;
}

#main-content {
  height: 100vh;
  min-height: 100%;
}

.footer {
  text-align: center;
  font-size: 80%;
  color: #ccc;
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-top: -3em;
}
